 <hr>
 <div class ="main">
 <div id="first">
  </div>
  <div id="second">
  </div>
  <div id="third">
  </div>
  <div class="faq-wrapper">
    <div class="container">
      <div class="heading">
        <h2>FAQ</h2>
      </div>
      <div class="faq">
        <ul id="faq-list">
          <li class="faq-list-item">
            <h3 class="question">あまり再生回数伸びていなく無いですか？</h3>
            <span>+</span>
            <div class="answer">
              <p>如何せん、これからです。もっと聞いてください。</p>
            </div>
          </li>
          <li class="faq-list-item">
            <h3 class="question">モテますか？</h3>
            <span>+</span>
            <div class="answer">
              <p>Gurrinco君はモテますが、Akyuto君はモテません。</p>
            </div>
          </li>
          <li class="faq-list-item">
            <h3 class="question">スポーツはしてたのですか？</h3>
            <span>+</span>
            <div class="answer">
              <p>高校時代バレーボールをしてました。Gurrinco君がキャプテンでAkyuto君が副キャプテンでした。</p>
            </div>
          </li>
            <h2 class="q_contact"><%= link_to '質問はこちら','post/index' ,:class =>"link"%></h2>
        </ul>
      </div>
    </div>
  </div>
  </div>
<hr>
 

  