<hr>

 <div class="main">
   <div class="policy">
     <h1> I have a three policy.</h1>
   </div>

　　　　
 <div class="messeage first">
     <div class="object">
     <h1>I Love the world<span>.</span></h1>
     <div class="jp">
     <p>未来は必ず良い方向に行くと心から信じ、忠実な情熱と探究心を持って創作物を作っていきます。</p>
     <p>未来は必ず良い方向に行くと心から信じ、忠実な情熱と探究心を持って創作物を作っていきます。</p>
     </div>
    <div class ="eg">
     <p>未来は必ず良い方向に行くと心から信じ、忠実な情熱と探究心を持って創作物を作っていきます。</p>
     <p>未来は必ず良い方向に行くと心から信じ、忠実な情熱と探究心を持って創作物を作っていきます。</p>
    </div>
    </div>
 </div>

 <div class="messeage second">
     <div class="object">
     <h1>I Love the world<span>.</span></h1>
     <div class="jp">
     <p>未来は必ず良い方向に行くと心から信じ、忠実な情熱と探究心を持って創作物を作っていきます。</p>
     <p>未来は必ず良い方向に行くと心から信じ、忠実な情熱と探究心を持って創作物を作っていきます。</p>
     </div>
    <div class ="eg">
     <p>未来は必ず良い方向に行くと心から信じ、忠実な情熱と探究心を持って創作物を作っていきます。</p>
     <p>未来は必ず良い方向に行くと心から信じ、忠実な情熱と探究心を持って創作物を作っていきます。</p>
    </div>
    </div>
 </div>

 <div class="messeage third" >
     <div class="object">
     <h1>I Love the world<span>.</span></h1>
     <div class="jp">
     <p>未来は必ず良い方向に行くと心から信じ、忠実な情熱と探究心を持って創作物を作っていきます。</p>
     <p>未来は必ず良い方向に行くと心から信じ、忠実な情熱と探究心を持って創作物を作っていきます。</p>
     </div>
    <div class ="eg">
     <p>未来は必ず良い方向に行くと心から信じ、忠実な情熱と探究心を持って創作物を作っていきます。</p>
     <p>未来は必ず良い方向に行くと心から信じ、忠実な情熱と探究心を持って創作物を作っていきます。</p>
    </div>
    </div>
 </div>

   

<hr>