<hr>


<div class="main">
    <div class="Akyuto" id="AK">
   <img src="/Akyuto.png" alt="Akytoプロフィール" width="300px" height="300px">
   <p>Akyuto</p>
   
  </div>

 <div class="pro-back" id="AK_pro">
   <div class="pro" >
    <h1>Akyuto</h1>
    <div class="close-modal">
        <i class="fa fa-2x fa-times "></i>
      </div>
    
       <img src="/Akyuto.png" alt="Akytoプロフィール" width="300px" height="300px" class="image">
   
   <div class="pro-content">
    <h3>Composer Lyricist Arrenger <br>Mixer Programmer</h3>
    <p>HtmLとCSSとJQueryとRailsを少し使えます。<br>このページもこいつが作ってます。</p>
     <p> DTMに打ち込む花の２０歳です。</p>
      <p>私大文系でエンジニア目指していきます。</p>
    </div>
  </div>
  </div>


    <div class="Gurrinco" id="GR">
   <img src="/GuRRinco.jpg" alt="Akytoプロフィール" width="300px" height="300px">
   <p>GuRRinco</p>
   </div>

 <div class="pro-back" id="GR_pro">
   <div class="pro" >
    <h1>GuRRinco</h1>
    <div class="close-modal">
        <i class="fa fa-2x fa-times "></i>
      </div>
   
       <img src="/GuRRinco.jpg" alt="Akytoプロフィール"　width="300px" height="300px" class="image">
 
   <div class="pro-content">
    <h3>Gamer Video Maker <br>Lyricist</h3>
    <p>AviUtlで動画製作します</p>
    <p>理系体育会系の花の２０歳です。</p>
    <p>世界平和を目指していきます。</p>
    </div>
  </div>
  </div>

  </div>
<hr>