 <hr>
 <div class ="main">
<div class="title_work-p">
   <h1>Work</h1>
</div>
   <div class="work-f">

    <div class="works">
    <div class="work">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/YJIX_SUTnzA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </div>
   <h3>Where are you seeing?</h3>
   <p class="language-text">Akyutoのループ音楽によるFuturebassとWabbuleBassの融合</p>
    </div>
  
  <div class="works">
   <div class="work">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/7zgtGOnP_8A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
   <h3>天ツ風</h3>
   <p>Vocaloid AIの調教が魅力な壮大なバラード</p>
  </div>
 
  <div class="works">
  <div class="work">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/hF72eTeaSzo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
    <h3>Promise</h3>
    <p>現在のProgressive Houseを代表するサウンドの中にメロデイーのセンスを感じる作品</p>
  </div>

  <div class="works">
  <div class="work">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/e-fw_dh8iW4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
  </div>
    <h3>I and You</h3>
    <p>Vocal Cutを多用する　Cawii Future Bassサウンド</p>
  </div>

 <div class="works">
 <div class="work">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/xavgzHiVXtQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
  <h3>Character</h3>
  <p>同志社第143回EVE祭テーマソング</p>
 </div>

 </div>
</div>
 <hr>