<hr>
  
   <div class= "main">
    <div class="title_contact">
   <h1>Contact</h1>
    </div>
    <div class="contact-kokohata">

   <h1>Contact</h1>
   <p>制作依頼から感想まであらゆる問い合わせお待ちしてます</p>

  <div class ="control">
     <label for="mail">メールアドレス<span class="required">必須</span>
     </label>
      <p>＊お間違いのないようお願いします。</p>
    <input id="mail" type="email" name="mymail"
     placeholder="例）◯◯@gmail.com">
   </div>
  
  <div class ="control">
   <label for="comment">コメント</label>
   <br>
　　<textarea id="comment" name="comment"></textarea>
 </div>

 <div class="control">
  <p><button type="submit">送信</button></p>
 </div>
   
   </div>
 
</div>

    <hr>
